.leaderboard {
    background-color: black;
    height: 100vh;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}

.rankings {
    width: 50%;
    height: 85vh;
    border-radius: 20px;
    border-width: 4px;
    border-color: antiquewhite;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.rankings h1{
    font-weight: bold;
    font-size: 30px;
}


.rankings table {
    width: 75%;
    border-collapse: collapse;
    margin: 20px 0;
    align-items: center;
    
    border-radius: 10px;
  }
  
.rankings table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: black;
  }
  
.rankings table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

.rankings table tr:hover {
    background-color: darkgreen;
}