.terminal {
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
  padding: 40px;
  padding-bottom: 30px;

  height: 85vh;
  border-radius: 10px;
  border-color: grey;
  border-width: 3px;
  font-size: 30px;
  overflow-y: auto; 
}

.terminalWrap {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-top: 32px;
  background-color: black;
  
}

.output {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.input {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
}

.command-line {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  flex-grow: 1;
  font-family: inherit;
  caret-color: #0f0; /* Green caret color */
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  
  letter-spacing: .15em; 
  text-align: left; /* Ensures the typing starts from the left */
  animation: typing 3.5s steps(40, end);
  font-weight: bold;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
