* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .background-image {
    flex: 1;
    background: url('assets/rbc.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .background-image img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .login-form {
    flex: 0.6;
  
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    
    
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    

    
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form label {
    font-size: 14px;
  }
  
  form input[type="text"] {
    padding: 10px;
    border: 1px solid black;
    font-size: 14px;
  }
  
  .checkbox-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  form button {
    background-color: #005bbb;
    color: white;
    border: none;
    padding: 10px;
    font-size: 12px;
  }
  
  form button:hover {
    background-color: #004499;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .links a {
    display: block;
    margin: 5px 0;
    color: #005bbb;
    text-decoration: none;
    font-size: 14px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .service-notices {
    margin-top: 30px;
  }
  
  .service-notices h4 {
    font-size: 16px;
  }
  
  .service-notices a {
    display: block;
    margin: 5px 0;
    color: #005bbb;
    text-decoration: none;
    font-size: 14px;
  }
  
  .service-notices a:hover {
    text-decoration: underline;
  }
  